<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for :user, url: "/sessions", method: "post" do |f| %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  <div>
    Username: <%= f.text_field :username %>
  </div>
  <div>
    Password: <%= f.text_field :password %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
