<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

 <%= form_for @user do |f| %>
          <div>
          Username: <%= f.text_field :username %>
          </div>
          <div>
           Password: <%= f.text_field :password %>
          </div>
          <div>
            Email: <%= f.text_field :email %>
          </div>
          <div>
            <%= f.submit %>
          </div>
      <% end %>

