<nav class="navbar navbar-inverse">
  <div class="container-fluid navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lyricist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">    	
        <li>
        <div id="signup">
        <% if current_user %>
        <h4 class="welcome-nav">Welcome!<%= link_to current_user.username, current_user %></h4>
        <% else %>
<button type="button" class="btn btn-primary sign-up-button" data-toggle="modal" data-target="#exampleModal">Sign Up</button>
        <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= form_for User.new do |f| %>
          <%= f.text_field :username, placeholder: "Username" %>
          <%= f.text_field :password, placeholder: "Password", type: "password" %>
          <%= f.text_field :email, placeholder: "Email" %>

        
          <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn"><%= f.submit %></button>
          </div>
        <% end %>
        
      </div>
    
    </div>
  </div>
</div>
          
        </li>
         <li>
         <% if current_user %>
            <button class="btn btn-default"><%= link_to 'Log out', logout_path, method: :delete %></button>
         <% else %>
            <button class="btn btn-default navbar-btn"><%= link_to "Login", login_path %></button>
         <% end %>
         </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>